.error-description {
  text-align: center;
}

.error-description__title {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

.error-description__description {
  font-size: 20px;
  line-height: 20px;
  margin-top: 20;
  margin-bottom: 70;
}

.error-description__link {
  font-size: 11px;
  line-height: 11px;
  color: var(--primary-color);
  text-decoration: none;
}
