<div>
    <main class="root">
        <div class="back-button-wrapper">
            {{{ backButton }}}
        </div>

        <div class="wrapper">
            {{{ settingsForm }}}
        </div>
    </main>
</div>
