@import url(../../styles/colors.scss);

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 510px;
  background: var(--white);
  padding: 50px 30px 30px;
}

.user-form__avatar-upload {

  .user-form__avatar-input {
    display: none;
  }
}

.user-form__avatar {
  border-radius: 50%;
  background: var(--main-background-color);
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: var(--avatar-text-color);
  
  display: grid;
}

.user-form__avatar-background {
  display: flex;
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 130px;
  height: 130px;
}

.user-form__avatar-tooltip {
  cursor: pointer;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: var(--white);
  opacity: 0;
  background: var(--black);
  display: flex;
  grid-area: 1/1;
  width: 130px;
  height: 130px;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;

  &:hover {
    opacity: 0.5;
  }
}

.user-form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.user-form__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  flex-grow: 1;
  min-height: 180px;
}

.user-form__field {
  display: flex;
  width: 100%;
  gap: 8px;
  border-bottom: 1px solid var(--back-button-border-color);
  padding: 0;
  padding-bottom: 10px;
  justify-content: space-between;

  &_borderless {
    border-bottom: none;
  }
}

.user-form__field-label {
  font-size: 13px;
  line-height: 13px;
}

.user-form__field-input {
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--form-label-color);
  text-align: right;
}

.user-form__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 30px;  
}

.user-form__button {
  margin-top: 30px;
}
