<main class="root">
    <div class="error-description">
        <h1 class="error-description__title">{{ title }}</h1>
        <p class="error-description__description">{{ description }}</p>
        {{{ link }}}
    </div>
</main>
