:root {
    --main-font-color: #1E1E1E;
    --main-background-color: #EFEFEF;

    --form-label-color: #999;
    --form-error-color: #FF2F2F;
    --red-link-color: #FF0000;
    --box-shadow-color: rgba(0, 0, 0, 0.14);
    --back-button-background-color: #FBFBFB;
    --back-button-border-color: #EAEAEA;
    --avatar-text-color: #CDCDCD;

    --primary-color: #3369F3;

    --black: #000;
    --white: #FFF;
}
