<div class="user-form__links">
    <div class="user-form__field">
        {{{ linkChangePassword }}}
    </div>
    <div class="user-form__field user-form__field_borderless">
        {{{ linkLogout }}}
    </div>
</div>
