.back-button-wrapper {
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;;
}

.back-button {
  width: 28px;
  height: 28px;
  background: #3369F3;
  border: none;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
}