<form class="auth-form">
    <div class="auth-form__header">
    <h1 class="auth-form__title">{{ title }}</h1>
    {{{ formFields }}}
    </div>
    <div class="auth-form__footer">
        {{{ button }}}
        {{{ link }}}
    </div>
</form>
