---
id: "root" 
---
<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <main class="root" id="{{ id }}">
            <div class="chats">
              <input name="message" id="message" class="message" placeholder="🔍 Поиск">
            </div>
            <div class="chat-history">
              <p>Выберите чат чтобы отправить сообщение</p>
            </div>
        </main>
    </body>
</html>
