---
id: "root" 
---
<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <main class="root" id="{{ id }}">
            {{> error-description title="500" description="Мы уже фиксим"  link="#" linkText="Назад к чатам"}}
        </main>
    </body>
</html>
