---
id: "root"
links: [
    {
        link: "login.hbs",
        linkText: "Авторизация",
    },
    {
        link: "signin.hbs",
        linkText: "Регистрация",
    },
    {
        link: "chats.hbs",
        linkText: "Чаты",
    },
    {
        link: "user-settings.hbs",
        linkText: "Настройки пользователя",
    },
    {
        link: "user-change-password.hbs",
        linkText: "Смена пароля",
    },
    {
        link: "error-404.hbs",
        linkText: "Ошибка 404",
    },
    {
        link: "error-500.hbs",
        linkText: "Ошибка 500",
    },
]
---
<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <main class="root root_withGap" id="{{ id }}">
          {{#each links}}
            {{> link this }}
          {{/each}}
        </main>
    </body>
</html>
