---
id: "root" 
fields: [
    {
        label: "Старый пароль",
        type: "password",
        error: "",
        name: "oldPassword"
    },
    {
        label: "Новый пароль",
        type: "password",
        error: "Пароли не совпадают",
        name: "newPassword"
    },
    {
        label: "Повторите новый пароль",
        type: "password",
        error: "Пароли не совпадают",
        name: "newPassword_confirm"
    }
]
---
<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <main class="root" id="{{ id }}">
            {{> back-button }}
            {{> user-form submitText="Сохранить" }}
        </main>
    </body>
</html> 