---
id: "root" 
fields: [
    {
        label: "Почта",
        type: "text",
        name: "email",
        value: "pochta@yandex.ru"
    },
    {
        label: "Логин",
        type: "text",
        name: "login",
        value: "Имя в чате"
    },
    {
        label: "Имя",
        type: "text",
        name: "first_name",
        value: "Иван"
    },
    {
        label: "Фамилия",
        type: "text",
        name: "second_name",
        value: "Иванов"
    },
    {
        label: "Имя в чате",
        type: "text",
        name: "chat_name",
        value: "Иван"
    },
    {
        label: "Телефон",
        type: "text",
        name: "phone",
        value: "+7 (909) 967 30 30",
        additionalClass: "user-form__field_borderless"
    },
]
links: [
    {
        link: "#",
        linkText: "Изменить данные",
    },
    {
        link: "#",
        linkText: "Изменить пароль",
    },
    {
        link: "#",
        linkText: "Выйти",
        additionalClass: "user-form__field_borderless",
        linkClass: "link_red"
    },
]
---
<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <main class="root" id="{{ id }}">
            {{> back-button }}
            {{> user-form title="Кирилл" submitText="Сохранить" }}
        </main>
    </body>
</html> 