<li class="chat-info">
    <div class="chat-info__description">
        <div class="chat-info__picture"></div>
        <div class="chat-info__text-description">
            <p class="chat-info__title">{{ title }}</p>
            <p class="chat-info__last-message">{{ lastMessage }}</p>
        </div>
    </div>
    
    <div class="chat-info__data">
        <p class="chat-info__last-message-date">{{ lastMessageDate }}</p>
        <div class="chat-info__unread-messages-count">{{ unreadMessagesCount }}</div>
    </div>
</li>